In [129]:
import pandas as pd
import random
df = pd.read_excel('20yDataset.xlsx')

#결측치 대체
df = df.fillna(0)

#고정비3개/ 
#각각 비율마다 모든 값에 곱해주는 형식으로 데이터 만들고 나중에 합쳐주기
# x2 = 당기투입 노무비 간접x2,당기투입 노무비 직접 고정비x2, 당기투입 제조경비 간접x2, 당기투입 제조경비 직접 고정비 기타x2, 당기투입 제조경비 직접 고정비 상각비x2
df_1=df[["ic_dlfc","ic_ohdfe","ic_ohdfd"]]

In [130]:
import random
count = 0 # 줄의 수를 파악
m_count = 1 # 월 단위 파악
m = 0 # 인덱스

#랜덤값을 월마다 변동될 수 있도록 for 문안에서 반복할때마다 갱신처리
while True:
  if count == 753:
    break
  #3개 목록 다음에 다음달로 넘어감
  if count%3 == 0:
    ran = random.randrange(0,2) * 2 - 1 # 홀짝(월)에 대한 양음 부여
    m_count += 1
  if (count >=322 and count <=357) or (count >=718 and count <=753):
    next_month = []
    for i in range(len(df_1.columns)):
      p = random.uniform(0.01,0.02) # 랜덤값
      #해당 월 금융 위기/코로나로 10%하양조정.
      temp = df_1.values[m][i] * (1 - ((0.01 * 3 + p) * 1/12 ))
      next_month.append(temp)
    df_1.loc[len(df_1)] = next_month
    count += 1
  else:
    next_month = []
    for i in range(len(df_1.columns)):  
      #홀짝수인지 확인 후 1%,2%
      p = random.uniform(0.01,0.02) # 랜덤값
      if m_count%2 == 1:
        temp = df_1.values[m][i] * (1 + ((0.01 * 1 + p) * 1/12)* ran)
        next_month.append(temp)
      else:
        temp = df_1.values[m][i] * (1 + ((0.01 * 2 + p) * 1/12)* ran)
        next_month.append(temp)
    df_1.loc[len(df_1)] = next_month
    count += 1
  #12월 다음 조건문 추가
  if m_count >12:
    m_count = 1
  m += 1

#코로나, 경제위기를 제외한 년에는 홀짝 월을 따져 random으로 증감 비율 적용이 된다.

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [131]:
#변동비4개/ 
#당기투입 노무비 직접 변동비, 당기투입 제조경비 직접 변동비x1, 당기 투입 노무비 간접, 당기 투입 제조경비 간접
df_2= df[["ic_dlvc","ic_ohdvc","ic_idlc","ic_idohc"]]

In [132]:
count = 0 # 줄의 수를 파악
m_count = 1 # 월 단위 파악
m = 0 # 인덱스
while True:
  if count == 753:
    break
  #3개 목록 다음에 다음달로 넘어감
  if count%3 == 0:
    ran = random.randrange(0,2) * 2 - 1 # 홀짝(월)에 대한 양음 부여
    m_count += 1
  if (count >=322 and count <=357) or (count >=718 and count <=753):
    next_month = []
    for i in range(len(df_2.columns)):
      p = random.uniform(0.01,0.02) # 랜덤값
      #해당 월 금융 위기/코로나로 10%하양조정.
      temp = df_2.values[m][i] * (1 - ((0.01 * 3 + p) * 1/12))
      next_month.append(temp)
    df_2.loc[len(df_2)] = next_month
    count += 1
  else:
    next_month = []
    for i in range(len(df_2.columns)):
      p = random.uniform(0.01,0.02) # 랜덤값
      #홀짝수(월)인지 확인 후 동일 3%
      temp = df_2.values[m][i] * (1 + ((0.01 * 3 + p) * 1/12)* ran)
      next_month.append(temp)
    df_2.loc[len(df_2)] = next_month
    count += 1
  #12월 다음 조건문 추가
  if m_count >12:
    m_count = 1
  m += 1

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [133]:
#수량,단가
#생산량, 배부기준 생산액 단위당
df_3 = df[["proq", "proamt_unit"]]

In [134]:
count = 0 # 줄의 수를 파악
m_count = 1 # 월 단위 파악
m = 0 # 인덱스
while True:
  if count == 753:
    break
  #3개 목록 다음에 다음달로 넘어감
  if count%3 == 0:
    ran = random.randrange(0,2) * 2 - 1 # 홀짝(월)에 대한 양음 부여
    m_count += 1
  if (count >=322 and count <=357) or (count >=718 and count <=753):
    next_month = []
    for i in range(len(df_3.columns)):
      p = random.uniform(0.01,0.02) # 랜덤값
      #해당 월 금융 위기/코로나로 10%하양조정.
      temp = df_3.values[m][i] * (1 - ((0.01 * 3 + p) * 1/12))
      next_month.append(temp)
    df_3.loc[len(df_3)] = next_month
    count += 1
  else:
    next_month = []
    for i in range(len(df_3.columns)):
      p = random.uniform(0.01,0.02) # 랜덤값
     #홀짝수인지 확인 후 2.5%,3%
      if m_count%2 == 1:
        temp = df_3.values[m][i] * (1 + ((0.01 * 2.5 + p) * 1/12)* ran)
        next_month.append(temp)
      else:
        temp = df_3.values[m][i] * (1 + ((0.01 * 3 + p) * 1/12)* ran)
        next_month.append(temp)
    df_3.loc[len(df_3)] = next_month
    count += 1
  #12월 다음 조건문 추가
  if m_count >12:
    m_count = 1
  m += 1

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

그럼, 지금까지 고정비, 변동비, 수량, 단가 increased

In [ ]:
#재료비 uc_srw

In [135]:
df_4 = df[["uc_srw"]]
df_4

      uc_srw
0   52044552
1  250909246
2   21339553

In [136]:
count = 0 # 줄의 수를 파악
m_count = 1 # 월 단위 파악
m = 0 # 인덱스
while True:
  if count == 753:
    break
  #3개 목록 다음에 다음달로 넘어감
  if count%3 == 0:
    ran = random.randrange(0,2) * 2 - 1 # 홀짝(월)에 대한 양음 부여
    m_count += 1
  if (count >=322 and count <=357) or (count >=718 and count <=753):
    next_month = []
    for i in range(len(df_4.columns)):
      p = random.uniform(0.01,0.02) # 랜덤값
      #해당 월 금융 위기/코로나로 10%하양조정.
      temp = df_4.values[m][i] * (1 - ((0.01 * 3 + p) * 1/12))
      next_month.append(temp)
    df_4.loc[len(df_4)] = next_month
    count += 1
  else:
    next_month = []
    for i in range(len(df_4.columns)):
      p = random.uniform(0.01,0.02) # 랜덤값
      #홀짝수(월)인지 확인 후 동일 5%
      temp = df_4.values[m][i] * (1 + ((0.01 * 5 + p) * 1/12)* ran)
      next_month.append(temp)
    df_4.loc[len(df_4)] = next_month
    count += 1
  #12월 다음 조건문 추가
  if m_count >12:
    m_count = 1

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [137]:
len(df_4)

756

In [138]:
#반올림
#데이터 갱신 주의!!
df_1=df_1.round(0).astype(int)
df_2=df_2.round(0).astype(int)
df_3=df_3.round(0).astype(int)
df_4=df_4.round(0).astype(int)

In [82]:
df_1 = df_1

In [118]:
df_4

        uc_srw
0     52044552
1    250909246
2     21339553
3     52322970
4     52336013
..         ...
751   51848094
752   51852505
753   51857977
754   51837088
755   51862597

[756 rows x 1 columns]

In [139]:
#분리 연산된 데이터 프레임 합치기
result = pd.concat([df_1,df_2,df_3,df_4],axis=1)
result

      ic_dlfc  ic_ohdfe  ic_ohdfd  ...   proq  proamt_unit     uc_srw
0     5490412    280799    869822  ...   2880        26470   52044552
1    33871013   1732282   5366038  ...  16639        21350  250909246
2     2957785    151271    468589  ...   1453        21850   21339553
3     5475547    280081    867602  ...   2870        26377   52327414
4    33769186   1726559   5352083  ...  16572        21268   52327098
..        ...       ...       ...  ...    ...          ...        ...
751  31426223   1620696   5001492  ...  14552        18440   51861258
752   2745314    141275    434027  ...   1264        18965   51829398
753   5109805    263726    811758  ...   2536        23372   51833134
754  31296698   1614570   4981282  ...  14501        18372   51850758
755   2734229    140802    432415  ...   1260        18895   51858268

[756 rows x 10 columns]

In [120]:
#db형태에 맞게 id, version, 
len(result.index)

756

In [140]:
#id column inserting code
id = []
for i in range(len(result.index)):
  id.append(i+1)
result.insert(0,'id',id)

In [123]:
result

      id   ic_dlfc  ic_ohdfe  ic_ohdfd  ...  ic_idohc   proq  proamt_unit     uc_srw
0      1   5490412    280799    869822  ...    921941   2880        26470   52044552
1      2  33871013   1732282   5366038  ...   4296172  16639        21350  250909246
2      3   2957785    151271    468589  ...    383949   1453        21850   21339553
3      4   5507502    281542    872172  ...    925087   2890        26560   52322970
4      5  33962475   1737603   5383398  ...   4312966  16695        21435   52336013
..   ...       ...       ...       ...  ...       ...    ...          ...        ...
751  752  28745837   1474335   4567873  ...   4056229  15571        19871   51848094
752  753   2537506    127646    401207  ...    359729   1354        20454   51852505
753  754   4708456    240397    745979  ...    876241   2718        25067   51857977
754  755  28634687   1468301   4549689  ...   4042486  15509        19795   51837088
755  756   2528284    127169    399851  ...    358461   1348        20382   51862597

[756 rows x 11 columns]

In [141]:
#version_id column inserting code
version_id = []
num = 200001
while True:
  if len(version_id) >= len(result.index):
    break
  if num % 100 == 13:
    num += 100
    num -= 12
  for _ in range(3):
    version_id.append(num)
  num += 1
result.insert(1,'version_id',version_id)

In [142]:
#itemplan_id column inserting code
itemplan_id = []
temp = 1
while True:
  if len(itemplan_id) >= len(result.index):
    break
  if temp % 3 == 1:
    itemplan_id.append(3)
  elif temp % 3 == 2:
    itemplan_id.append(2)
  else:
    itemplan_id.append(1)
  temp += 1
result.insert(2,'itemplan_id',itemplan_id)

In [126]:
len(itemplan_id)

756

In [143]:
result

      id  version_id  itemplan_id  ...   proq  proamt_unit     uc_srw
0      1      200001            3  ...   2880        26470   52044552
1      2      200001            2  ...  16639        21350  250909246
2      3      200001            1  ...   1453        21850   21339553
3      4      200002            3  ...   2870        26377   52327414
4      5      200002            2  ...  16572        21268   52327098
..   ...         ...          ...  ...    ...          ...        ...
751  752      202011            2  ...  14552        18440   51861258
752  753      202011            1  ...   1264        18965   51829398
753  754      202012            3  ...   2536        23372   51833134
754  755      202012            2  ...  14501        18372   51850758
755  756      202012            1  ...   1260        18895   51858268

[756 rows x 13 columns]

In [144]:
result.to_excel('data_20y_v11.xlsx',index=False)